@model IEnumerable<ImgSave.Models.Img>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imgname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imgpath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imgname)
            </td>
            <td>
                <img src="~/Images/@item.Imgname" class="rounded-circle"
width="60" height="60" asp-append-version="true"  />      </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Imgid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Imgid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Imgid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
